@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
main{
    background-image: url("../img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
}


/* -------------------------------------------------------- HEADER */ 
header {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 75px 165px;
}
header ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
header ul li a{
    color: #242E52;
    text-decoration: none;
    transition: 0.3s;
}
header ul li a:hover{
    color: #F3603B;
}
.cta_getStarted{
    color:white;
    background: #F3603B;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 50px;
    padding: 12.5px 30.5px;
    transition: 0.3s;
}
.cta_getStarted:hover{
    opacity:0.8;
}
header .bars{
    display:none;
}

@media (max-width:375px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 20px;
    }
    header ul{
        display: none;
    }
    header ul li a{
        transition: none;
    }
    .cta_getStarted{
        display:  none;
        transition: none;
    }
    header .bars{
        display: block;
        max-height: 24px;
    }
}


/* -------------------------------------------------------- MAIN_Hero*/
main .hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 165px;
    gap: 130px;
}
main .hero div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:28px;
}
main .hero h2{
    font-size: 58px;
    font-weight: 700;
    letter-spacing: -0.035em;
    color: #232C50;
}
main .hero p{
    font-weight: 500;
    color: #B3B2B7;
}

@media (max-width:375px) {
    main .hero{
        flex-direction: column-reverse;
        padding: 30px;
        gap:0px
    }
    main .hero img{
        width: 120%;
    }
    main .hero div{
        text-align: center;
        align-items: center;
    }
    main .hero h2{
        font-size: 36px;
    }
    main .hero p{
        line-height: 1.7;
    }
    main .hero .cta_getStarted{
        display: block;
        text-align: center;
    }
}

/* -------------------------------------------------------- MAIN_About Us*/
main .aboutUs{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:125px;
    padding:100px 165px 0 165px;
}
main .aboutUs .description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:28px;
}
main .aboutUs .description h3{
    font-weight: 700;
    font-size: 36px;
    color: #232851;
}
main .aboutUs .description p{ 
    font-weight: 500;
    color: #B3B2B7;
}

main .aboutUs .itemlist{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:27px;
}
main .aboutUs .itemlist .item{
    display:flex;
    align-items: flex-start;
    gap:18px
}
main .aboutUs .itemlist .item span{
    background: #F3603B;
    border-radius: 30px;
    font-weight: 700;
    line-height: 23px;
    color: #FFFFFF;
    padding: 10px 25px;
}
main .aboutUs .itemlist .item h4{  
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.015em;
    color: #323851;
    padding-bottom: 18px;

}
main .aboutUs .itemlist .item p{
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: #B3B2B7;
}

@media (max-width:375px) {
    main .aboutUs{
        flex-direction: column;
        margin-top:75px;
        padding: 0;
        gap:10px;
    }
    main .aboutUs .description{
        padding:10px 30px;
        text-align: center;
    }
    main .aboutUs .description h3{
        font-size: 32px;
    }
    main .aboutUs .description p{
        line-height: 1.7;
    }
    main .aboutUs .itemlist{
        padding: 10px;
        gap: 50px;
    }
    main .aboutUs .itemlist .item h4{
        padding-bottom: 10px;
    }
}

/* -------------------------------------------------------- MAIN_Testimony*/
main .testimony{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 70px 0 70px;
}
main .testimony h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 155%;
    letter-spacing: -0.01em;
    color: #242E53;
    padding-bottom: 75px;
}
main .testimony .cardlist{
    display: flex;
    gap:29px;
    padding-bottom: 45px;
}
main .testimony .cardlist .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:21px;
}
main .testimony .cardlist .card h5{
    font-weight: 700;
    font-size: 16.0714px;
    line-height: 156.6%;
    letter-spacing: -0.01em;
    color: #3F4868;
}
main .testimony .cardlist .card p{
    font-weight: 500;
    font-size: 16px;
    line-height: 156.6%;
    color: #B9B9C1;
    text-align: center;
}
@media (max-width:375px) {
    main .testimony{
        padding: 0 10px;
        margin-top:75px;
    } 
    main .testimony h3{
        text-align: center;
        font-size: 32px;
        padding-bottom: 20px;
    }
    main .testimony .cardlist .card:nth-of-type(1){
        display:none;
    }
    main .testimony .cardlist .card:nth-of-type(3){
        display:none;
    }
    main .testimony button{
        display:block;
    }
}



/* -------------------------------------------------------- MAIN_Banner*/
main .banner{
    margin-top: 180px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:64px 165px;
    background-color: #F3613C;
    background-image: url("../img/bg-simplify-section-desktop.svg")
}
main .banner h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}
main .cta_getStarted2{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border:none;
    border-radius: 50px;
    padding: 12.5px 30.5px;
    background-color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color:#F3603B;
    transition: 0.3s;
}
main .cta_getStarted2:hover{
    color:#f3603bab;
}

@media (max-width:375px) {
    main .banner{
        flex-direction: column;
        padding: 75px 10px;
        gap: 30px;
        background-image: url("../img/bg-simplify-section-mobile.svg");
        background-repeat: no-repeat;
    }
    main .banner h2{
        text-align: center;
        font-size: 32px;
    }
}

/* -------------------------------------------------------- FOOTER*/
footer{
    display:flex;
    justify-content: space-between;
    padding: 52px 165px;
    background-color: #1E1E26;
}
footer .iconList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}
footer .iconList i{
    color: white;
    font-size: 24px;
    transition: 0.3s;
}
footer .iconList i:hover{
    color: #F3603B;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
footer ul li a{
    font-weight: 400;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
footer ul li a:hover{
    color: #F3603B;
}
footer .form_copy{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer .form_copy form input{
    background: #FFFFFF;
    border-radius: 50px;
    padding:12.5px 50px 12.5px 10px;
    border:none;
}
footer .form_copy form input:focus{
    outline: none;
}
footer .form_copy form button{
    background: #F3603B;
    border-radius: 50px;
    padding:12.5px 22px;
    border:none;
    color: white;
    transition: 0.3s;
}
footer .form_copy form button:hover{
    background: #f3785a;
}
footer .form_copy p{
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
}
@media (max-width:375px) {
    footer{
        flex-direction: column;
    }
}